<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
        {% load static %}
        <script src="{% static 'adminInv.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div id="dateTime">
            <label>{% now "DATETIME_FORMAT" %}</label>
        </div>
        </br>
        <label class="slideClick">Proyección de compra</label>
        <div id="divProyection" class="sliding main" style="display: none">
        </div>
        </br>
        <label class="slideClick">Pedidos a realizar</label>
        <div id="divRequisition" class="sliding main" style="display: none">
        </div>
    </br>
    <label>Usuario: {{request.session.ID_Emp_Usr}}, Ubicación {{request.session.ID_Loc_Usr}}</label>
    </body>
</html>