<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="static/adminpro.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div class="mainLabel">
            <label>Admin PRO</label></br></br>
        </div>
        </br>
        <div id="divEmployees" class="main">
            <label>Employees (Login, Pass, Role)</label></br>
            <input type="text" value="" class="Employees Login" id="inpEmp-Login">
            <input type="text" value="" class="Employees Pass" id="inpEmp-Pass">
            <input type="text" value="" class="Employees Role" id="inpEmp-Role">
            <input type="button" class="btn Employees" value="Ingresar" id="btnEmp">
        </div>
        </br>
        <div id="divProduct" class="main">
            <label>Products (Name, Amount of material)</label></br>
            <input type="text" value="" class="Products Name" id="inpProd-Name">
            <input type="text" value="" class="Products Material" id="inpProd-Material">
            <input type="button" class="btn Products" value="Ingresar" id="btnProd">
        </div>
        </br>
        <div id="divLocation" class="main">
            <label>Location (Name, Address, Coordinates)</label></br>
            <input type="text" value="" class="Locations Name" id="inpLoc-Name">
            <input type="text" value="" class="Locations Address" id="inpLoc-Address">
            <input type="text" value="" class="Locations Latitude" id="inpLoc-Latitude">
            <input type="text" value="" class="Locations Longitude" id="inpLoc-Longitude">
            <input type="button" class="btn Locations" value="Ingresar" id="btnLoc">
        </div>
        </br>
        <div id="divManual" class="main">
            <label>Manual input (CSV, con titulos)</label></br>
            <input type="text" value="" class="csv" id="inpCSV">
            <input type="button" class="btncsv Employees" value="Ingresar Empleado(s)" id="btnCSVEmployees">           
            <input type="button" class="btncsv Products" value="Ingresar Producto(s)" id="btnCSVProducts">            
            <input type="button" class="btncsv Locations" value="Ingresar Sucursal(es)" id="btnCSVLocations">
        </div>
    </body>
</html>