<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQXlcXB_AS5sYV7BmeqFNaYWH0etwKfks&libraries=places"></script><!--&callback=initMaps-->
        {% load static %}
        <script src="{% static 'distribution.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div>
            <img src= "{% static 'PanemLogoColor-01_1.png' %}" alt="Panem">
        </div>
        <hr>
        </br>
        <div>
            <img src= "{% static 'Distributor_1.png' %}" alt="Distribuidor">
            <label> Información sobre sus entregas</label>
        </div>
        <hr>
        </br>
        <div id="dateTime">
            <label>{% now "DATETIME_FORMAT" %}</label>
        </div>
        <hr>
        </br>
        <div id="divDistribution" class="main">
        </div>
        </br>
        <label>Usuario: {{request.session.ID_Emp_Usr}}, Ubicación {{request.session.ID_Loc_Usr}}</label>
    </body>
</html>