<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQXlcXB_AS5sYV7BmeqFNaYWH0etwKfks&libraries=places"></script><!--&callback=initMaps-->
        <script src="static/distribution.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div class="mainLabel">
            <label>Distribucion</label></br></br>
        </div>
        </br>
        <div id="divDistribution" class="main">
        </div>
    </body>
</html>