<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% load static %}
        <script src="{% static 'production.js' %}"></script>
        <script src="{% static 'common.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div>
            <img class="mainImg" src= "{% static 'PanemLogoColor-01.png' %}" alt="Panem">
        </div>
        <hr>
        </br>
        <div>
            <img src= "{% static 'Admin_1.png' %}" alt="Administrador">
            <label class="bigLabel"> Administrador</label></br>
            <label> Pedidos ha hacer</label>
            <label class="rightMenuObj">></label>
        </div>
        <hr>
        </br>
        <div>
            <img src= "{% static 'Distributor_1.png' %}" alt="Distribuidor">
            <label class="bigLabel"> Distribuidor</label></br>
            <label> Información sobre sus entregas</label>
        </div>
        <hr>
        </br>
        <div>
            <img src= "{% static 'Reporter_1.png' %}" alt="Reportero">
            <label class="bigLabel"> Reportero</label></br>
            <label> Reportes sobre su panadería</label>
        </div>
        <hr>
        </br>
        <div>
            <img src= "{% static 'Producer_1.png' %}" alt="Productor">
            <label class="bigLabel"> Productor</label></br>
            <label> Información sobre la producción</label>
        </div>
        <hr>
        </br>
    </body>
</html>