<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% load static %}
        <script src="{% static 'production.js' %}"></script>
        <script src="{% static 'common.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div>
            <img src= "{% static 'PanemLogoColor-01.png' %}" alt="Panem">
        </div>
        <hr>
        </br>
        <div>
            <img src= "{% static 'Producer_1.png' %}" alt="Productor">
            <label> Información sobre la producción</label>
        </div>
        <hr>
        </br>
        <div id="dateTime">
            <label>{% now "DATETIME_FORMAT" %}</label>
        </div>
        <hr>
        </br>
        <div id="divProduction" class="main">
        </div>
        </br>
        <label>Usuario: {{request.session.ID_Emp_Usr}}, Ubicación {{request.session.ID_Loc_Usr}}</label>
    </body>
</html>