.sliding{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    background-color: #19CFB1;
}

.slideClick{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    background-color: #19CFB1;
}

body {
    margin: auto;
    max-width: 310px;
    background-color: #139C86;
}

.main {
    margin: auto;
    max-width: 310px;
}

.mainLabel {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    background-color: #E35117;
}